 
/*
 * @font-face
 */
@font-face { font-family: 'bodoniSTD';
    src: url('bodonistd-bold-webfont.eot');
    src: url('bodonistd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('bodonistd-bold-webfont.woff') format('woff'),
         url('bodonistd-bold-webfont.ttf') format('truetype'),
         url('bodonistd-bold-webfont.svg#bodoni_stdbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/gotham-book.eot');
    src: url('fonts/gotham-book.woff') format('woff'),
         url('fonts/gotham-book.ttf')  format('truetype'),
         url('fonts/gotham-book.svg')  format('svg');
    font-weight: normal;
    font-style:  normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('fonts/gotham-bold.eot');
    src: url('fonts/gotham-bold.woff') format('woff'),
         url('fonts/gotham-bold.ttf')  format('truetype'),
         url('fonts/gotham-bold.svg')  format('svg');
    font-weight: bold;
    font-style:  normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('fonts/gotham-ultra.eot');
    src: url('fonts/gotham-ultra.woff') format('woff'),
         url('fonts/gotham-ultra.ttf')  format('truetype'),
         url('fonts/gotham-ultra.svg')  format('svg');
    font-weight: bolder;
    font-style:  normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('fonts/gotham-xlightitalic.eot');
    src: url('fonts/gotham-xlightitalic.woff') format('woff'),
         url('fonts/gotham-xlightitalic.ttf')  format('truetype'),
         url('fonts/gotham-xlightitalic.svg')  format('svg');
    font-weight: lighter;
    font-style:  italic;
}
@font-face {
    font-family: 'Gotham';
    src: url('fonts/gotham-thin.eot');
    src: url('fonts/gotham-thin.woff') format('woff'),
         url('fonts/gotham-thin.ttf')  format('truetype'),
         url('fonts/gotham-thin.svg')  format('svg');
    font-weight: lighter;
    font-style:  normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('fonts/gotham-bolditalic.eot');
    src: url('fonts/gotham-bolditalic.woff') format('woff'),
         url('fonts/gotham-bolditalic.ttf')  format('truetype'),
         url('fonts/gotham-bolditalic.svg')  format('svg');
    font-weight: bold;
    font-style:  italic;
}
